@import '../../../helpers/flex-mixin.scss';

.BestFood {
    @include flex(0 1 30%);
    @include flexbox();
    @include flex-direction(column);
    @include align-items(flex-start);
    @include justify-content(flex-start); 
    @include align-content(flex-start);
    @include flex-wrap(nowrap);
    @media only screen and (max-width : 768px) {
        @include flex(0 1 100%);
        @include align-items(center);
        @include justify-content(center); 
        @include align-content(center);
        margin-top: 20px;
    }
    h4 {
        margin: 5px;
        color: rgb(115, 45, 128);
    }
    p {
        margin: 5px;
        font-size: 12px;
    }

    h4, p {
        @media only screen and (max-width : 768px) {
            text-align: center;
        }
    }
}