.Tip {
    position: fixed;
    z-index: 1000;
    top: 75%;
    left: -100vw;
    opacity: 0;
    background-color:rgb(115, 45, 128);
    animation: fadeInAndOut 5s cubic-bezier(0.19, 1, 0.22, 1);
    padding: 10px 20px 10px 20px;
    max-width: 50%;
    @media screen and (max-width: 767px) {
        display: none;
    }
    p {
        color: white;
    }
}

@keyframes fadeInAndOut {
    50% {
        left: 45vw;
        top: 75%;
        opacity: 1
    }
    100% {
        top: 100%;
        left: 45vw;
        opacity: 0;
    }
}