@import '../../../helpers/flex-mixin.scss';
* {
    border: 1px solid red;
}
.Beer {
    max-height: 400px;
    min-height: 300px;
    @include flex(0 0 25%);
    @include flexbox();
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
    @include align-content(center);
    img {
        height: auto;
        max-width: 30%;
    }
    p {

    }
}