.Logo {
	height: 100%;
	padding: 8px;
	background-color: rgba(115, 45, 128, .9);
	box-sizing: border-box;
    border-radius: 5px;
    img {
        height: 100%;
    }
    @media (max-width: 767px) {
        display: none;
    }
}